:root {
    --color-background :      hsla(0, 0%, 33%, 1);
    --color-background-Dark:  hsla(223, 10%, 18%, 1);
    
    --color-accent-yellow :  hsla(45, 71%, 81%, 1);
    --color-accent-blue :    hsla(188, 16%, 53%, 1);
    --color-accent-green :   hsla(105, 24%, 77%, 1);
    --color-accent-pink :    hsla(0, 86%, 75%, 1);
    --color-accent-red :     hsla(343, 48%, 57%, 1);

    --color-accent-hover:    hsla(233, 8%, 23%, 1);

    --color-ui-dark-1 :  hsla(230, 10%, 12%, 1);
    --color-ui-dark-2 :  hsla(231, 8%, 16%, 1);
    --color-ui-dark-3 :  hsla(230, 5%, 8%, 1);

    --color-text-dark :     hsla(227, 8%, 12%, 1);
    --color-text-primary :  hsla(0, 0%, 100%, 1);
    --color-text-secondary :hsla(0, 0%, 100%, 0.6);

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: var(--color-text-primary);
    background-color: var(--color-background);
    font-size: 1.4rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.font-Nutino-600{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
.font-Nutino-400{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: space-between;
}

.headline-01{
    font-size: 2.4rem;
}

.container-chat{
    max-width: 136rem;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 2.75fr 1fr;
    background-color: var(--color-background-Dark);
    border-radius: 1.6rem;
    overflow: hidden;
}

.profile-message{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
    min-width: 30rem;
    background-color: var(--color-background-Dark);
}

.profile-message img{
    object-fit: contain;
    height: 4rem;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.icons img{
    height: 2.4rem;
}

.search{
    padding: 1.2rem 1.6rem 2.4rem;
    border-bottom: 0.1rem solid #37393C;
}

.search input {
    width: 100%;
    background: var(--color-accent-hover);
    border-radius: 0.8rem;
    border: none;
    height: 4rem;
}

.message{
    padding: 1.2rem 2.4rem;
}

.history-container{
    border-right: 1px solid #37393C;
}

.main-container{
    background-color: var(--color-ui-dark-3);
}
.profile-container{
    min-width: 28rem;
    border-left: 0.1rem solid #37393C;
}


.contact-header{
    padding: 2rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    border-bottom: 0.1rem solid #37393C;
}

.info{
    color: var(--color-text-secondary);
    margin-top: 4rem;
}

.user-chat{
    padding: 1.2rem 2.4rem;
    display: flex;
    gap: 1rem;
}

.user-chat:hover{
    background-color: var(--color-accent-hover);
    cursor: pointer;
}

.user-chat img {
    height: 4.8rem;
}
.user-chat h4{
    font-size: 1.6rem;
    font-family: 'Nunito';
    font-weight: 600;
}
.user-chat p{
    color: var(--color-text-secondary);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 20rem;
}

.time{
    width: 4rem !important;
    font-size: 1.2rem;
    text-align: end;
}

.selected{
    background-color: var(--color-ui-dark-3) !important;
}

.chat{
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.encabezado h2{
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text-secondary);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
}

.message-bubble{
    display: flex;
    width: 100%;
}


.form-chat{
    min-width: 2.4rem;
    height: 1.6rem;
    border-top: 0.8rem solid var(--color-ui-dark-2);
    border-right: 1.6rem solid var(--color-ui-dark-2);
    border-bottom: 0.8rem solid transparent;
    border-left: 1.6rem solid transparent;
}

.form-chat-02{
    min-width: 2.4rem;
    height: 1.6rem;
    border-top: 0.8rem solid var(--color-accent-green);
    border-right: 1.6rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 1.6rem solid var(--color-accent-green);
    
}


.bubble{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 53rem;
}
.bubble p {
    background-color: var(--color-ui-dark-2);
    padding: 0.8rem;
    border-radius: 0px 0.4rem 0.4rem 0.4rem;
}

.bubble span {
    margin-top: 0.8rem;
    color:  var(--color-text-secondary);
}

.bubble-owner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.bubble-owner p {
    background-color: var(--color-accent-green);
    padding: 0.8rem;
    border-radius: 0.4rem 0px 0.4rem 0.4rem;
    color: var(--color-text-dark)
}

.bubble-owner span {
    margin-top: 0.8rem;
    color:  var(--color-text-secondary);
}


.owner{
    justify-content: flex-end;
}